<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687563401419-q82tnd20qg0ohgvrcsoksupg88quhfeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687563401419-q82tnd20qg0ohgvrcsoksupg88quhfeo</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmMgM4oG06VXN7qKZ5FQVx4Kvew2wscw</string>
	<key>GCM_SENDER_ID</key>
	<string>687563401419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mevid.app</string>
	<key>PROJECT_ID</key>
	<string>movid-76127</string>
	<key>STORAGE_BUCKET</key>
	<string>movid-76127.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687563401419:ios:f43083aaa61e9acc34534e</string>
</dict>
</plist>